body {
    margin: 0;
}

/*.zero-margin {
    margin: 0;
}*/

main {
    background-image: url('pictures/gallery_pic_3.webp');
    padding: 85px 0 55px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*row-gap: 15vh;*/
}

main > div {
    padding-left: 11.8125rem;
}

h1 {
    /*margin: 0 0 9rem;*/
    margin: 0 0 130px;
    font-size: 5.3125rem;
    text-shadow: .625rem -0.375rem .1875rem rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0 7rem;
}

h1, form :not(input[type="submit"]) {
    font-family: 'Changa One', cursive;
}

h1, label, input[type='submit'] {
    color: #fff;
}

form {
    width: fit-content;
    padding: .75rem;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(42, 21, 11, 0.3) 81.25%, rgba(42, 21, 11, 0.1) 100%);
}

label, input {
    display: block;
}

label {
    font-size: 34px;
    text-shadow: .1875rem -0.125rem .125rem rgba(0, 0, 0, 0.8);
    margin-bottom: 1.375rem;
}

input {
    font-size: 28px;
    border: none;
    outline: none;
    padding: .3125rem .5rem;
    border-radius: 5px;
}

input[type='text'] {
    margin-bottom: 2.75rem;
}

input[type="submit"] {
    font-family: 'Kanit', sans-serif;
    margin: 1.8125rem 0 0 25.5625rem;
    background-color: #AF272B;
    padding: .125rem .875rem;
}

input[type="submit"]:hover {
    background-color: #8B1F22;
    cursor: pointer;
}

@media (max-width: 1241px) {
    main > div {
        padding: 0;
    }

    h1 {
        margin: 0 0 7.5rem;
    }

    input[type="submit"] {
        margin: 2.8125rem auto 0;
    }
}

@media (max-width: 879px) {
    h1 {
        font-size: 75px;
        padding: 0 80px;
    }

    label {
        font-size: 29px;
    }

    input {
        font-size: 26px;
    }
}

@media (max-width: 761px) {
    h1 {
        font-size: 68px;
        padding: 0 4.375rem;
    }

    label {
        font-size: 1.625rem;
    }

    input {
        font-size: 1.4375rem;
    }
}

@media (max-width: 664px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 633px) {
    h1 {
        font-size: 3.75rem;
        padding: 0 3.4375rem;
    }
}

@media (max-width: 572px) {
    h1 {
        font-size: 55px;
    }

    label {
        font-size: 26px;
        margin-bottom: 18px;
    }

    input {
        font-size: 1.25rem;
    }

    input[type="text"] {
        margin-bottom: 35px;
    }

    input[type="submit"] {
        margin: 30px auto 0;
        font-size: 22px;
    }
}

@media (max-width: 534px) {
    main {
        padding: 60px 0 36px;
    }

    h1 {
        font-size: 50px;
        padding: 0 40px;
    }
}

@media (max-width: 465px) {
    h1 {
        font-size: 45px;
        padding: 0 35px;
        margin: 0 0 85px;
    }
}

@media (max-width: 417px) {
    h1 {
        font-size: 40px;
        padding: 0 29px;
        margin: 0 0 70px;
    }

    input[type="submit"] {
        margin: 30px auto 0;
    }
}

@media (max-width: 390px) {

    main {
        /*row-gap: 10vh;*/
        padding: 45px 0 26px;
    }

    input[type="text"] {
        margin-bottom: 35px;
    }

    label {
        margin-bottom: 18px;
    }
}

@media (max-width: 332px) {
    h1 {
        margin: 0 0 50px;
    }
}

@media (max-width: 311px) {
    /*main {
        row-gap: 7vh;
    }*/

    h1 {
        font-size: 35px;
        padding: 0 20px;
        margin: 0 0 60px;
    }
}

@media (max-width: 262px) {
    /*main {
        row-gap: 5vh;
    }*/

    h1 {
        font-size: 32px;
        padding: 0 15px;
    }

    label {
        font-size: 21px;
    }

    form :not(label, input[type="submit"]) {
        font-family: sans-serif;
    }

    input {
        font-size: 18px;
    }
}

@media (max-width: 234px) {
    h1 {
        font-size: 27px;
    }
}