body {
    margin: 0;
}

/*.zero-margin {
    margin: 0;
}*/

main {
    background-image: url('pictures/gallery_pic_3.webp');
    padding: 5.3125rem 0 3.4375rem;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*row-gap: 15vh;*/
}

main > div {
    padding-left: 11.8125rem;
}

h1 {
    /*margin: 0 0 9rem;*/
    margin: 0 0 8.125rem;
    font-size: 5.3125rem;
    text-shadow: .625rem -0.375rem .1875rem rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0 7rem;
    font-weight: 400;
}

h1.connection {
    margin: 0;
}

h1, form :not(input[type="submit"]) {
    font-family: 'Changa One', cursive;
}

h1, label, input[type='submit'] {
    color: #fff;
}

#connection-message {
	margin: 0;
	font-size: 1.75rem;
	color: #fff;
	font-family: 'Changa One', cursive;
	text-shadow: .1875rem -0.125rem .125rem rgba(0, 0, 0, 0.8);
    transition: opacity .5s;
    height: 0;
    opacity: 0;
}

#connection-message.connection {
    height: initial;
    margin: 3.125rem 0;
    opacity: 1;
}

@keyframes message-connection {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

#connection-message.rotate {
    animation: message-connection .5s;
}

form {
    width: fit-content;
    padding: .75rem;
    border-radius: 5px;
    background-image: linear-gradient(90deg, rgba(42, 21, 11, 0.3) 81.25%, rgba(42, 21, 11, 0.1) 100%);
}

label, input {
    display: block;
}

label {
    font-size: 2.125rem;
    text-shadow: .1875rem -0.125rem .125rem rgba(0, 0, 0, 0.8);
    margin-bottom: 1.375rem;
}

.error-util, .error-mdp {
    color: #ffd8d8;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: height, margin;
    height: 17px;
}

.error-util.hidden, .error-mdp.hidden {
    height: 0;
    margin: 0;
}

input {
    font-size: 1.75rem;
    border: none;
    outline: none;
    padding: .3125rem .5rem;
    border-radius: 5px;
}

@keyframes showConnErrorInp {
    from {margin-bottom: 1.375rem;}
    to {margin-bottom: .8438rem;}
}

input[type='text'] {
    margin-bottom: 2.75rem;
}

input[type='text'].showConnError {
    animation-name: showConnErrorInp;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

@keyframes hideConnErrorInp {
    from {margin-bottom: .8438rem;}
    to {margin-bottom: 1.375rem;}
}

input[type='text'].success {
    animation-name: hideConnErrorInp;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

#connection-error {
	margin: 0;
    height: 0px;
	color: #ff9696;
	text-align: center;
	text-shadow: .1875rem -0.125rem .125rem rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition-property: height, opacity;
    transition-duration: .2s;
}

#connection-error.showConnError {
    opacity: 1;
    height: 17px;
}

@keyframes showConnErrorLab {
    from {margin-top: 1.375rem;}
    to {margin-top: .8438rem;}
}

label[for='mdp'] {
    margin-top: 2.75rem;
}

label[for='mdp'].showConnError {
    animation-name: showConnErrorLab;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

@keyframes hideConnErrorLab {
    from {margin-top: .8438rem;}
    to {margin-top: 1.375rem;}
}

label[for='mdp'].success {
    animation-name: hideConnErrorLab;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

input[type="submit"] {
    font-family: 'Kanit', sans-serif;
    margin: 1.8125rem 0 0 25.5625rem;
    background-color: #AF272B;
    padding: .125rem .875rem;
}

input[type="submit"]:hover {
    background-color: #8B1F22;
    cursor: pointer;
}

@media (max-width: 1241px) {
    main > div {
        padding: 0;
    }

    h1 {
        margin: 0 0 7.5rem;
    }

    label {
        font-size: 1.8125rem;
    }

    input {
        font-size: 1.625rem;
    }

    input[type="submit"] {
        margin: 2.8125rem auto 0;
    }
}

@media (max-width: 896px) {
    h1 {
        font-size: 4.6875rem;
        padding: 0 5rem;
    }

    label {
        font-size: 1.75rem;
    }

    input {
        font-size: 1.5625rem;
    }
}

@media (max-width: 761px) {
    h1 {
        font-size: 4.25rem;
        padding: 0 4.375rem;
    }

    label {
        font-size: 1.625rem;
    }

    input {
        font-size: 1.4375rem;
    }
}

@media (max-width: 681px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 3.75rem;
        padding: 0 3.4375rem;
    }

    label {
        font-size: 1.5625rem;
    }

    input {
        font-size: 1.375rem;
    }
}

@media (max-width: 589px) {
    h1 {
        font-size: 3.4375rem;
    }

    label {
        margin-bottom: 1.125rem;
    }

    /*input {
        font-size: 1.25rem;
    }*/

    input[type="text"] {
        margin-bottom: 2.1875rem;
    }

    input[type="submit"] {
        margin: 1.875rem auto 0;
        /*font-size: 22px;*/
    }
}

@media (max-width: 551px) {
    main {
        padding: 3.75rem 0 2.25rem;
    }

    h1 {
        font-size: 3.125rem;
        padding: 0 2.5rem;
    }
}

@media (max-width: 482px) {
    h1 {
        font-size: 2.8125rem;
        padding: 0 2.1875rem;
        margin: 0 0 5.3125rem;
    }

    /*label {
        font-size: 23px; /*21-18/25-20 f-size pour min max label et input*//*
    }

    input {
        font-size: 19px;
    }*/
}

@media (max-width: 417px) {
    h1 {
        font-size: 2.5rem;
        padding: 0 1.8125rem;
        margin: 0 0 4.375rem;
    }

    input[type="submit"] {
        margin: 1.875rem auto 0;
    }
}

@media (max-width: 390px) {

    main {
        /*row-gap: 10vh;*/
        padding: 2.8125rem 0 1.625rem;
    }

    input[type="text"] {
        margin-bottom: 2.1875rem;
    }

    label {
        margin-bottom: 1.125rem;
    }
}

@media (max-width: 332px) {
    h1 {
        margin: 0 0 3.125rem;
    }
}

@media (max-width: 311px) {
    /*main {
        row-gap: 7vh;
    }*/

    h1 {
        font-size: 2.1875rem;
        padding: 0 1.25rem;
        margin: 0 0 3.75rem;
    }
}

@media (max-width: 262px) {
    /*main {
        row-gap: 5vh;
    }*/

    h1 {
        font-size: 2rem;
        padding: 0 .9375rem;
    }

    label {
        font-size: 1.3125rem;
    }

    form :not(label, input[type="submit"]) {
        font-family: sans-serif;
    }

    input {
        font-size: 1.125rem;
    }
}

@media (max-width: 234px) {
    h1 {
        font-size: 1.6875rem;
    }
}